h1, h2, h3, p, input, label, button {
  font-family: 'Quicksand', sans-serif;
}

main {
  padding: 30px;
}

#navigation{
    font-family: 'Quicksand', sans-serif;
    margin-top: 2%;
}

#navigation a{
    text-decoration: none;
    color: #333333;
    margin-right: 2%;
    padding: 1%;
    background-color: #f4f4f4;
    width: 150px;
    display: inline-block;
    text-align: CENTER;
    border-radius: 3px;
    box-shadow: 2px 3px 5px rgba(0,0,0,0.12);
}

/* guess a number */
#form {
  background-color: #f4f4f4;
  margin-top: 30px;
  width: 400px;
  border-radius: 3px;
  box-shadow: 2px 3px 5px rgba(0,0,0,0.12);
  padding-bottom: 20px;
  padding: 20px;
}

 #tryAgainForm {
  display: none;
}

#result {
  display: none;
}
#result, #guesses {
  margin: 0;
  padding-top: 20px;
}
